* {
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}

.imageDiv {
    display: flex;
    justify-content: flex-end;
}

#navbar {
    display: flex;
    justify-content: center;
}

#navbar > button {
    background-color: papayawhip;
    border-color: papayawhip;
}

/*******
* För att bli av med Bootstraps egna blåa outline. 
*******/
#navbar > button:active, #navbar > button:focus {
    outline: none !important;
    box-shadow: none;
}

#navbar > button:hover {
    background-color: rgb(238, 151, 59);
}


@media screen and (max-width: 500px) {
    .image-fluid {
        height: 60px;
    }
}



