* {
    box-sizing: border-box;
}

body {
    background-color: #FCF0C8;
}

.accordion-header > button {
    background-color: #911F27 !important; 
    color: #ffffff !important;
    font-size: large;
}

.accordion-body {
    background-color: #630A10;
}

.imageDiv {
    display: flex;
    justify-content: flex-end;
}

#navbar {
    display: flex;
    justify-content: center;
}

#navbar > button {
    background-color: #FCF0C8;
    border-color: #FCF0C8;
    color: black;
}

/*******
* För att bli av med Bootstraps egna blåa outline. 
*******/
#navbar > button:active, #navbar > button:focus {
    outline: none !important;
    box-shadow: none;
}

#navbar > button:hover {
    background-color: #FACE7F;
}

#navbar > .active {
    background-color: #FACE7F;
}

.hidden {
    display: none;
}

.list-group-item:nth-child(odd) {
    background-color: #FCF0C8;
}

.list-group-item:nth-child(even) {
    background-color: #FACE7F;
}

@media screen and (max-width: 500px) {
    .image-fluid {
        height: 60px;
    }
}



